<div class="page-header">
  <%= link_to "All movies", movies_path %>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-3">
    <%= image_tag @movie.poster_image_url, class: "img-responsive center-block" %>
  </div>
  <div class="col-md-8 col-lg-9">
    <h2>
    <%= @movie.title %>
    <% if current_user %>
    (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, confirm: "You sure?" %>)
    <% end %>
    </h2>
    <h3>Released <%= formatted_date(@movie.release_date) %></h3>
    <h1>
    <%# binding.pry %>
    <% unless @movie.reviews.empty? %>
    <%= @movie.average_rating %>/10
    <% else %>
    Be the first to <%= render 'write_a_review' %>
    <% end %>
    <h1>
    <h4>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h4>
    <p><%= @movie.description %></p>
  </div>
</div>
<hr>
<h3>Reviews of <em><%= @movie.title %></em></h3>
<% @movie.reviews.each do |review| %>
<div class="well">
  <p><%= review.text %></p>
  <p><%= review.rating_out_of_ten %>/10</p>
  <small>- <%= review.user.full_name %></small><br/>
</div>
<% end %>
<%= render 'write_a_review' %>