<div class="row">
  <div class="col-md-3 col-sm-1">
  </div>
  <div class="col-md-6 col-sm-10">
    <h1>Sign Up</h1>
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :firstname, label: "First Name" %>
      <%= f.text_field :lastname, label: "Last Name" %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%# f.check_box :remember_me %>
      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-1">
  </div>
</div>
