>><%= link_to " #{@movie.title}", movie_path(@movie) %><br/>

<h2>Write a review of <em><%= @movie.title %></em>.</h2>

<%= bootstrap_form_for([@movie, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :text, label: "Review" %>
  <%= f.number_field :rating_out_of_ten, label: "Rating (1 - 10)" %>
  <%= f.submit "Submit" %>
<% end %>